build/
__pycache__
QRcodes
sdkconfig
sdkconfig.defaults
sdkconfig*
certs/
*.crt
*.key
secrets.csv
og_secrets.csv
partitions.csv
*.env
*.venv
*.bin
*.der
watchlist.json
sessions.json
managed_components/